/* ==========================================
   BARRA LATERAL (SIDEBAR)
   ========================================== */

body {
  margin: 0;
  font-family: sans-serif;
}

.retangulo-verde {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 140px;
  height: 100vh;
  background-color: #006334;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: auto;
}

/* --- Container do Ícone + Texto --- */
.icon-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* --- Configuração Padrão do Ícone na Sidebar --- */
.icon-wrapper app-icone {
  color: white; /* Cor base: Branca */
  transition: transform 0.3s ease, color 0.3s ease;
}

/* --- Configuração do Texto Escondido --- */
.icon-text {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 15px;
  width: 100px;
  text-align: center;
  line-height: 1.1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* ==========================================
   ANIMAÇÕES E ESTADOS (HOVER / ATIVO)
   ========================================== */

/* --- CONFIGURAÇÃO DO ÍCONE --- */
.icon-wrapper app-icone {
  display: block;
}

/* O ::ng-deep atravessa a parede do componente e pinta o SVG direto! */
.icon-wrapper ::ng-deep svg {
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* ==========================================
   ANIMAÇÕES E ESTADOS
   ========================================== */

.icon-wrapper:hover ::ng-deep svg {
  transform: translateY(-20px);
}

.icon-wrapper:hover .icon-text {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 30px);
}

/* Quando a rota atual for igual ao link (Página Ativa) o SVG fica Verde */
.icon-wrapper.ativo ::ng-deep svg {
  color: #A6CD29 !important;
}
