<div class="retangulo-verde" *ngIf="authService.isLoggedIn()">

  <div class="icon-wrapper" routerLink="/central-usuario" routerLinkActive="ativo">
    <app-icone nome="usuario"></app-icone>
    <span class="icon-text">Central do usuário</span>
  </div>

  <div class="icon-wrapper" routerLink="/agendamento" routerLinkActive="ativo">
    <app-icone nome="calendario"></app-icone>
    <span class="icon-text">Agendamento e presença</span>
  </div>

  <div class="icon-wrapper" routerLink="/relatorios" routerLinkActive="ativo">
    <app-icone nome="relatorio"></app-icone>
    <span class="icon-text">Relatórios</span>
  </div>

  <div class="icon-wrapper" routerLink="/configuracao" routerLinkActive="ativo" *ngIf="ehAdmin">
    <app-icone nome="configuracao"></app-icone>
    <span class="icon-text">Configuração de atividades</span>
  </div>

  <div class="icon-wrapper" routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
    <app-icone nome="inicio"></app-icone>
    <span class="icon-text">Pagina inicial</span>
  </div>

</div>
