/* Removemos o height: 100% do :host, não é mais necessário */

body {
  margin: 0;
  font-family: sans-serif;
}

.retangulo-verde {
  /* VOLTAMOS PARA O FIXED (É O MAIS SEGURO) */
  position: fixed;
  top: 0;
  right: 0; /* Gruda no canto direito da tela */
  z-index: 1000; /* Super alto para garantir que nada passe por cima dela */

  width: 400px; /* Mesma largura do padding que criamos no app-layout! */
  height: 100vh;
  background-color: #006334;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: auto;
}

/* O resto continua IGUAL: */
.icon-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon-wrapper svg {
  width: 200px;
  height: 200px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-text {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 50px;
  width: 350px;
  text-align: center;
  line-height: 1.1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.icon-wrapper:hover svg {
  transform: translateY(-20px);
}

.icon-wrapper:hover .icon-text {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 30px);
}

.icon-wrapper.ativo svg {
  color: #A6CD29;
}
